@import url("~leaflet/dist/leaflet.css");



body,
#root,
.leaflet-container {
    height: 98vh;
    width: 98vw;
}
#refreshButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
}

.add-marker-button{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    height: auto;
    width: auto;
    border-radius: 4px;
    background-color: white;
}

.update-button{
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 1000;
    height: auto;
    width: auto;
    border-radius: 4px;
    background-color: white;
}
.upload-button{
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 1000;
    height: auto;
    width: auto;
    border-radius: 4px;
    background-color: white;
}